<a href="https://colab.research.google.com/github/allanbraquiel/Stack_Labs_2_Squad_Scikit-Learn/blob/main/Exploracao_dos_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Stack Labs 

**Paticipantes**: 
- Alessandra Sanches Milhomem 
- Allan Braquiel
- Graciele Oliveira dos Santos
- Nathália Santiago


**Problema**:Realizar uma previsão de pessoas que podem vir a desenvolver Diabetes com base nas suas características atuais

### Links/Fontes de informação
- Construindo modelos de previsão de risco para diabetes tipo 2 usando técnicas de aprendizado de máquina : https://www.cdc.gov/pcd/issues/2019/19_0109.htm
-Questionário Finnish Diabetes Risk Score (FINDRISC): https://linhasdecuidado.saude.gov.br/portal/diabetes-mellitus-tipo-2-(DM2)-no-adulto/unidade-de-atencao-primaria/dm2-cronica/questionario-finnish-diabetes-risk-score

# Descrição do Dataset

**Dataset Escolhido:** diabetes_binary_5050split_health_indicators_BRFSS2015.csv 

**Informação:**
O conjunto de dados originalmente tem 330 recursos (colunas), mas com base na pesquisa de diabetes sobre fatores que influenciam a doença de diabetes e outras condições crônicas de saúde, apenas alguns recursos são incluídos nesta análise.

**Fatores de risco importantes:**
Pesquisas na área identificaram os seguintes fatores de risco importantes para diabetes e outras doenças crônicas, como doenças cardíacas (não em ordem estrita de importância):
- blood pressure high (pressão arterial (alta))
- cholesterol high (colesterol (alto))
- smoking (fumar)
- diabetes (diabetes)
- obesity (obesidade)
- age (idade)
- sex (sexo)
- race (raça)
- diet (dieta)
- exercise (exercício físico)
- alcohol consumption (consumo de alcool)
- BMI (IMC)
- Household Income (Renda Familiar)
- Marital Status (Estado Civil)
- Sleep (Dormir)
- Time since last checkup (Tempo desde o último check-up)
- Education (Educação)
- Health care coverage (Plano de Saúde)
- Mental Health (Saúde Mental)

**As características selecionadas do dataset são:**
- Variável de resposta/variável dependente: 
   - **Diabetes_binary** 
    - 1 se o entrevistado têm diabete
    - 0 se o entrevistado nâo têm diabete
  
- Variáveis ​​independentes:
  - **HighBP** Pressão alta
    - Adultos que foram informados de que têm pressão alta por um médico, enfermeiro ou outro profissional de saúde
    - 1 sim
    - 0 não	
  - **HighChol** Colesterol alto
    - ALGUMA VEZ você foi informado por um médico, enfermeiro ou outro profissional de saúde que seu colesterol no sangue está alto?
    - 1 sim
    - 0 não	
  - **CholCheck**
  - **BMI**  IMC
    - Índice de Massa Corporal (IMC)
    - Valores:  12-98
  - **Smoker** Fumante
    - Você fumou pelo menos 100 cigarros em toda a sua vida? 
    - 1 sim
    - 0 não
  - **Stroke** Derrame
    - (Já disse) você teve um derrame?
    - 1 sim
    - 0 não
  - **HeartDiseaseorAttack** doença cardíaca coronária
    - Entrevistados que já relataram ter doença cardíaca coronária (DAC) ou infarto do miocárdio (IM) 
    - 1 sim
    - 0 não
  - **PhysActivity** Atividade Física
    - Adultos que relataram fazer atividade física ou exercício durante os últimos 30 dias além do trabalho regular
    - 1 sim
    - 0 não
  - **Fruits**	Dieta de Frutas
    - Consumir Frutas 1 ou mais vezes por dia
    - 1 sim
    - 0 não
  - **Veggies** Dieta de Vegetais
    - Consuma Legumes 1 ou mais vezes por dia
    - 1 sim
    - 0 não
  - **HvyAlcoholConsump** Consumo de álcool
    - Consumidores  Excessivo ​​(homens adultos com mais de 14 doses por semana e mulheres adultas com mais de 7 doses por semana)
    - 1 sim
    - 0 não
  - **AnyHealthcare** Plano de Saúde
    - Você tem algum tipo de cobertura de saúde, incluindo seguro saúde, planos pré-pagos, como HMOs, ou planos governamentais, como Medicare ou Indian Health Service?
    - 1 sim
    - 0 não
  - **NoDocbcCost** Despesa Médica
     - Houve algum momento nos últimos 12 meses em que você precisou consultar um médico, mas não pôde devido ao custo? 
     - 1 sim
     - 2 não
  - **GenHlth** Saúde Geral
     -Você diria que em geral sua saúde é?
     - 1: Excelente 
     - 2: Muito bom
     - 3: Bom
     -  4: Razoável
     -  5: Ruim

  - **MentHlth** Saúde Mental
    - Agora, pensando em sua saúde mental, que inclui estresse, depressão e problemas com emoções, por quantos dias nos últimos 30 dias sua saúde mental não foi boa?
    - Valores: 1-30
  - **PhysHlth**	Saúde Física
    - Agora, pensando em sua saúde física, que inclui doenças e lesões físicas, por quantos dias nos últimos 30 dias sua saúde física não foi boa? 
    - Valores: 1-30
  - **DiffWalk** Dificuldade de Caminhar
     - Você tem sérias dificuldades para caminhar ou subir escadas?
     - 1 sim
     - 2 não
  - **Sex** Sexo
    - Indica o sexo do entrevistado.
    - 0: Masculino
    - 1: Feminino
  - **Age** Idade 
     - 6 categorias de idade com base em 14 categorias de idade
     - 1: 31 a 40 anos,
     - 2: 41 a 50 anos, 
     - 3: 51 a 60 anos,
     - 4: 61 a 70 anos, 
     - 5: 71 a 80 anos, 
     - 6: >81 anos
  - **Education** Educação
    - Qual é a maior série ou ano de escola que você concluiu?
    - 1: Não concluiu o ensino médio,
    - 2: Concluiu o ensino médio,
    - 3: Frequentou a faculdade, 
    - 4: Concluiu a faculdade

  - **Income** 
    - Sua renda familiar anual é de todas as fontes: (Se o respondente recusar em qualquer nível de renda, codifique "Recusado.")
    - 1: <$10 mil, 
    - 2: $10–$15 mil,
    - 3: $15–$20 mil, 
    - 4: $20–$25 mil, 
    - 5: $25–$35 mil, 
    - 6: $35–$50 mil, 
    - 7: $50–$75 mil, 
    - 8: >$ 75 mil

# Carregando as Bibliotecas

In [2]:
# Pandas nos permite trabajar con DataFrames
import pandas as pd
# Para la visualización de datos
import plotly.express as px
import json
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# model
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier ,VotingClassifier

# roc curve and auc score
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score

%matplotlib inline
%load_ext google.colab.data_table

##Exploratório

In [7]:
def ler_arquivos(arquivo):
  df = pd.read_csv(arquivo)  
  print("Dimenções ",arquivo, "(filas, columnas)  : ", df.shape)
  return df

In [5]:
df = ler_arquivos('/content/diabetes_binary_5050split_health_indicators_BRFSS2015.csv')

Dimenções  /content/diabetes_binary_5050split_health_indicators_BRFSS2015.csv (filas, columnas)  :  (70692, 22)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70692 entries, 0 to 70691
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Diabetes_binary       70692 non-null  float64
 1   HighBP                70692 non-null  float64
 2   HighChol              70692 non-null  float64
 3   CholCheck             70692 non-null  float64
 4   BMI                   70692 non-null  float64
 5   Smoker                70692 non-null  float64
 6   Stroke                70692 non-null  float64
 7   HeartDiseaseorAttack  70692 non-null  float64
 8   PhysActivity          70692 non-null  float64
 9   Fruits                70692 non-null  float64
 10  Veggies               70692 non-null  float64
 11  HvyAlcoholConsump     70692 non-null  float64
 12  AnyHealthcare         70692 non-null  float64
 13  NoDocbcCost           70692 non-null  float64
 14  GenHlth               70692 non-null  float64
 15  MentHlth              70692 non-null  float64
 16  PhysHlth              70692 non-null  float64
 17  DiffWalk              70692 non-null  float64
 18  Sex                   70692 non-null  float64
 19  Age                   70692 non-null  float64
 20  Education             70692 non-null  float64
 21  Income                70692 non-null  float64
dtypes: float64(22)
memory usage: 11.9 MB

In [12]:
df.head()

Warning: Total number of columns (22) exceeds max_columns (20). Falling back to pandas display.

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,3.0,5.0,30.0,0.0,1.0,4.0,6.0,8.0
1,0.0,1.0,1.0,1.0,26.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,1.0,12.0,6.0,8.0
2,0.0,0.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,10.0,0.0,1.0,13.0,6.0,8.0
3,0.0,1.0,1.0,1.0,28.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,3.0,0.0,3.0,0.0,1.0,11.0,6.0,8.0
4,0.0,0.0,0.0,1.0,29.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,8.0,5.0,8.0

In [57]:
df.isnull().sum()

Diabetes_binary         0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

In [55]:

def ler_valores(df):
  for i, j in df.iterrows():
    print(sorted(df[j].unique))
    print()
  return df

In [56]:
df_valores_unicos = ler_valores(df)

KeyError: ignored